html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  font-family: bit;
  background-image: url('../img/wall.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background: rgba(128, 128, 128, 0.4);
  text-align: center;
}

@font-face {
  font-family: bit;
  src: url('../fonts/bit-webfont.ttf');
}

@font-face {
  font-family: start;
  src: url('../fonts/start-webfont.ttf');
}

header {
  padding: 5px;
}

#logo {
  display: block;
  max-width: 150px;
  margin: 0 auto;
}

/* Responsive Navigation */
#nav-trigger {
  display: none;
  text-align: center;
  font-family: bit;
}

#nav-trigger span {
  display: inline-block;
  padding: 10px 30px;
  background-color: #999999;
  color: #ab0303;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
}

#nav-trigger span: after {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 10px;
  content: "";
}

#nav-trigger span:hover {
  background-color: #6c6e6e;
}

#nav-trigger span.open: after {
  border-left: solid 10px transparent;
  border-top: none;
  border-bottom: solid 10px #ffffff;
  border-right: solid 10px transparent;
}

nav {
  margin-bottom: 30px;
  font-family: bit;
}

nav#nav-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav#nav-main li {
  display: inline-block;
}

nav#nav-main li:last-child {
  border-right: none;
}

nav#nav-main a {
  display: block;
  color: #040f5d;
  padding: 10px 20px;
  text-decoration: none;
}

nav#nav-main a:hover {
  background-color: #6c6e6e;
  border-radius: 10px;
  color: #ffffff;
}

nav#nav-mobile {
  position: relative;
  display: none;
}

nav#nav-mobile ul {
  display: none;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #999999;
  z-index: 5;
}

nav#nav-mobile li {
  display: block;
  padding: 5px 0;
}

nav#nav-mobile li:last-child {
  border-bottom: none;
}

nav#nav-mobile a {
  display: block;
  color: #ab0303;
  padding: 10px 30px;
}

nav#nav-mobile a:hover {
  background-color: #6c6e6e;
  color: #ffffff;
}

#location {
  width: 100%;
}

table {
  margin: 0 auto;
}

th {
  text-align: right;
}

h1 {
  color: #040f5d;
}

h2 {
  color: #ab3501;
}

# welcome p {
  font-family: start;
  line-height: 1.5;
  font-size: 0.7em;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

footer {
  color: #040f5d;
  width: 100%;
  text-align: center;
  font-size: 0.5em;
}

footer img {
  max-width: 60px;
  padding: 5px;
}

@media all and (min-width: 100px) {
  #nav-trigger {
    display: block;
  }

  nav#nav-main {
    display: none;
  }

  nav#nav-mobile {
    display: block;
  }

  footer {
    display: inline-block;
  }
}

@media all and (min-width: 600px) {

  nav#nav-main {
    display: block;
  }

  #nav-trigger {
    display: none;
  }

  nav#nav-mobile {
    display: none;
  }

  nav li {
    display: inline-block;
    width: calc(100% / 4);
  }

  #welcome {
    width: 50%;
    display: inline-block;
    float: left;
  }

  #location {
    width: 50%;
    float: right;
    display: inline-block;
  }

  #hours {
    display: inline-block;
  }
}

@media all and (min-width: 1000px) {

  #logo {
    float: left;
    display: inline-block;
  }

  nav {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  nav li {
    display: inline-block;
  }

  .mainmenu {
    display: inline-block;
    max-width: 496px;
    padding: 0;
    vertical-align: top;
  }

  #cast,
  #breakfast,
  #awards,
  #specials {
    width: 50%;
    display: inline-block;
  }

  #cast,
  #awards {
    float: left;
  }


  #specials,
  #breakfast {
    float: right;
  }

  #address,
  #phonemail {
    width: calc(100% / 3);
    display: inline-block;
    vertical-align: top;
  }
}

/* MENU */
.food {
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
}

.mainmenu {
  margin-bottom: 80px;
  width: 100%;
  padding: 10px;
  background: rgba(128, 128, 128, 0.4);
}

.title {
  font-family: bit;
  margin: 20px 0;
  text-align: center;
}

.item {
  margin: 35px 0;
}

.name {
  color: #040f5d;
  border-bottom: 2px dotted #ab3501;
}

.description {
  font-family: start;
  font-size: 0.7em;
  line-height: 2;
  color: black;
}

.price {
  float: right;
  font-weight: bold;
  font-family: start;
  margin-top: -50px;
  color: #ab3501;
}

.fav {
  max-width: 30px;
}

#favorite {
  font-size: 0.5em;
  color: #ab3501;
  padding: 10px;
  text-align: center;
  background: rgba(128, 128, 128, 0.4);
}

/* IMAGES */
#gallery {
  background-image: url('../img/chalk.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#gallery nav a,
#gallery footer {
  color: #efefef;
}

.images {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

h1.images {
  color: #ab2501;
  margin: 0 auto;
  max-width: 200px;
}

.images a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

.images a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .images a {
    width: calc(25% - 6px);
  }

  .images a:nth-of-type(2n) {
    margin-right: 8px;
  }

  .images a:nth-of-type(4n) {
    margin-right: 0;
  }
}

.images a:hover img {
  transform: scale(1.15);
}

.images figure {
  margin: 0;
  overflow: hidden;
  padding-top: 20px;
}

.images figcaption {
  margin-bottom: 15px;
  font-size: 0.8em;
  text-align: center;
  color: white;
}

.images img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #cccccc;
  transition: transform 0.2s ease-in-out;
}

#events {
  max-width: 1000px;
  margin: auto;
}

#events img,
#awards img {
  width: 100%;
  max-width: 800px;
  padding: 10px;
}

#events h3 {
  color: #040f5d;
  text-decoration: underline;
}

#events p {
  font-family: start;
  font-size: 0.8em;
  line-height: 1.5;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 20px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

#contact {
  background-image: url('../img/contactbg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #999999;
}

#contact nav a,
#contact h1,
#contact h2 {
  color: #999999;
}

#contact h1 {
  text-align: center;
}

address {
  padding: 20px;
  text-align: left;
  max-width: 500px;
  margin: auto;
  color: #040f5d;
  line-height: 1.5;
}

.contact {
  background: rgba(255, 123, 0, 0.5);
}

#contactnav li a {
  color: #ab0303;
}

.contact h3 {
  padding: 5px;
}

.contact p {
  color: #040f5d;
  font-family: start;
  text-align: center;
  padding-bottom: 10px;
}

#contactfoot {
  color: #999999;
}

.icons img {
  max-width: 100px;
  padding: 10px;
}

.link {
  position: relative;
  display: inline-block;
  margin: 10px 9px 29px 6px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-family: 'bit';
  padding: 0 25px 0 25px;
  box-shadow: 0 -3px #ffffff, 0 -6px #000000, 3px 0 #ffffff, 3px -3px #000000, 6px 0 #000000, 0 3px #ffffff, 0 6px #000000, -3px 0 #ffffff, -3px 3px #000000, -6px 0 #000000, -3px -3px #000000, 3px 3px #000000, 3px 9px #aaaaaa, 6px 6px #aaaaaa, 9px 3px #aaaaaa;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.link::before,
.link::after {
  content: '';
  display: block;
  position: absolute;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.link::after {
  background: #ffffff;
  width: 9px;
  height: 3px;
  bottom: -14px;
}

.link::before {
  width: 15px;
  height: 8px;
  background: #ffffff;
  bottom: -11px;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}

.link::after {
  margin-left: 6px;
  box-shadow: -3px 0 #000000, 3px 0 #000000, 3px 3px #ffffff, 0 3px #000000, 6px 3px #000000, 9px 3px #aaaaaa, 3px 6px #000000, 6px 6px #000000, 9px 6px #aaaaaa, 6px 9px #aaaaaa;
}

.link--btn {
  cursor: pointer;
}

.link--btn:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
