html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

body {
  font-family: bit;
  background-image: url('../img/wall.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  background: rgba(128, 128, 128, 0.4);
  text-align: center;
}

@font-face {
  font-family: bit;
  src: url('../fonts/bit-webfont.ttf');
}

@font-face {
  font-family: start;
  src: url('../fonts/start-webfont.ttf');
}

header {
  padding: 5px;
}

#logo {
  display: block;
  max-width: 150px;
  margin: 0 auto;
}

/* Responsive Navigation */
#nav-trigger {
  display: none;
  text-align: center;
  font-family: bit;
}

#nav-trigger span {
  display: inline-block;
  padding: 10px 30px;
  background-color: #999999;
  color: #ab0303;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 10px;
}

#nav-trigger span: after {
  display: inline-block;
  margin-left: 10px;
  width: 20px;
  height: 10px;
  content: "";
}

#nav-trigger span:hover {
  background-color: #6c6e6e;
}

#nav-trigger span.open: after {
  border-left: solid 10px transparent;
  border-top: none;
  border-bottom: solid 10px #ffffff;
  border-right: solid 10px transparent;
}

nav {
  margin-bottom: 30px;
  font-family: bit;
}

nav#nav-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav#nav-main li {
  display: inline-block;
}

nav#nav-main li:last-child {
  border-right: none;
}

nav#nav-main a {
  display: block;
  color: #040f5d;
  padding: 10px 20px;
  text-decoration: none;
}

nav#nav-main a:hover {
  background-color: #6c6e6e;
  border-radius: 10px;
  color: #ffffff;
}

nav#nav-mobile {
  position: relative;
  display: none;
}

nav#nav-mobile ul {
  display: none;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #999999;
  z-index: 5;
}

nav#nav-mobile li {
  display: block;
  padding: 5px 0;
}

nav#nav-mobile li:last-child {
  border-bottom: none;
}

nav#nav-mobile a {
  display: block;
  color: #ab0303;
  padding: 10px 30px;
}

nav#nav-mobile a:hover {
  background-color: #6c6e6e;
  color: #ffffff;
}

#location {
  width: 100%;
}

table {
  margin: 0 auto;
}

th {
  text-align: right;
}

h1 {
  color: #040f5d;
}

h2 {
  color: #ab3501;
}

# welcome p {
  font-family: start;
  line-height: 1.5;
  font-size: 0.7em;
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;
}

footer {
  color: #040f5d;
  width: 100%;
  text-align: center;
  font-size: 0.5em;
}

footer img {
  max-width: 60px;
  padding: 5px;
}

@media all and (min-width: 100px) {
  #nav-trigger {
    display: block;
  }

  nav#nav-main {
    display: none;
  }

  nav#nav-mobile {
    display: block;
  }

  footer {
    display: inline-block;
  }
}

@media all and (min-width: 600px) {

  nav#nav-main {
    display: block;
  }

  #nav-trigger {
    display: none;
  }

  nav#nav-mobile {
    display: none;
  }

  nav li {
    display: inline-block;
    width: calc(100% / 4);
  }

  #welcome {
    width: 50%;
    display: inline-block;
    float: left;
  }

  #location {
    width: 50%;
    float: right;
    display: inline-block;
  }

  #hours {
    display: inline-block;
  }
}

@media all and (min-width: 800px) {
  #address,
  #phonemail {
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }

  #address {
    float: left;
  }

  #phonemail {
    float: right;
  }

  .icons {
    float: right;
  }

  .icons h2 {
    display: none;
  }
}

@media all and (min-width: 1000px) {

  #logo {
    float: left;
    display: inline-block;
  }

  nav {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  nav li {
    display: inline-block;
  }

  .mainmenu {
    display: inline-block;
    max-width: 496px;
    padding: 0;
    vertical-align: top;
  }

  #cast,
  #breakfast,
  #awards,
  #specials {
    width: 50%;
    display: inline-block;
  }

  #cast,
  #awards {
    float: left;
  }


  #specials,
  #breakfast {
    float: right;
  }

  #address,
  #phonemail {
    width: calc(100% / 3);
    display: inline-block;
    vertical-align: top;
  }

  .icons {
    clear: none;
  }
}

/* MENU */
.food {
  max-width: 1000px;
  margin: 0 auto;
  display: block;
  color: rgb(92, 92, 92);
}

.mainmenu {
  margin-bottom: 80px;
  width: 100%;
  padding: 10px;
  background: rgba(128, 128, 128, 0.4);
}

.title {
  font-family: bit;
  margin: 20px 0;
  text-align: center;
}

.item {
  margin: 35px 0;
}

.name {
  color: #040f5d;
  border-bottom: 2px dotted #ab3501;
}

.description {
  font-family: start;
  font-size: 0.7em;
  line-height: 2;
  color: black;
}

.price {
  float: right;
  font-weight: bold;
  font-family: start;
  margin-top: -50px;
  color: #ab3501;
}

.fav {
  max-width: 30px;
}

#favorite {
  font-size: 0.5em;
  color: #ab3501;
  padding: 10px;
  text-align: center;
  background: rgba(128, 128, 128, 0.4);
}

/* IMAGES */
#gallery {
  background-image: url('../img/chalk.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#gallery nav a,
#gallery footer {
  color: #efefef;
}

.images {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

h1.images {
  color: #ab2501;
  margin: 0 auto;
  max-width: 200px;
}

.images a {
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
  text-decoration: none;
  color: black;
}

.images a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .images a {
    width: calc(25% - 6px);
  }

  .images a:nth-of-type(2n) {
    margin-right: 8px;
  }

  .images a:nth-of-type(4n) {
    margin-right: 0;
  }
}

.images a:hover img {
  transform: scale(1.15);
}

.images figure {
  margin: 0;
  overflow: hidden;
  padding-top: 20px;
}

.images figcaption {
  margin-bottom: 15px;
  font-size: 0.8em;
  text-align: center;
  color: white;
}

.images img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #cccccc;
  transition: transform 0.2s ease-in-out;
}

#events {
  max-width: 1000px;
  margin: auto;
}

#events img,
#awards img {
  width: 100%;
  max-width: 800px;
  padding: 10px;
}

#events h3 {
  color: #040f5d;
  text-decoration: underline;
}

#events p {
  font-family: start;
  font-size: 0.8em;
  line-height: 1.5;
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom: 20px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  padding-bottom: 10px;
  margin: 0 auto;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

#contact {
  background-image: url('../img/contactbg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #999999;
}

#contact nav a,
#contact h1,
#contact h2 {
  color: #999999;
}

#contact h1 {
  text-align: center;
}

address {
  padding: 20px;
  text-align: left;
  max-width: 500px;
  margin: auto;
  color: #040f5d;
  line-height: 1.5;
}

#address {
  padding-bottom: 20px;
}

#phonemail {
  padding-top: 8px;
}

.contact {
  background: rgba(255, 123, 0, 0.5);
}

#contactnav li a {
  color: #ab0303;
}

.contact h3 {
  padding: 5px;
}

.contact p {
  color: #040f5d;
  font-family: start;
  text-align: center;
  padding-bottom: 10px;
}

#contactfoot {
  color: #999999;
}

.icons img {
  max-width: 100px;
  padding: 10px;
}

/* Link Button */
.link {
  position: relative;
  display: inline-block;
  margin: 10px 9px 29px 6px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  font-family: 'bit';
  font-size: 0.8em;
  padding: 0 25px 0 25px;
  box-shadow: 0 -3px #ffffff, 0 -6px #000000, 3px 0 #ffffff, 3px -3px #000000, 6px 0 #000000, 0 3px #ffffff, 0 6px #000000, -3px 0 #ffffff, -3px 3px #000000, -6px 0 #000000, -3px -3px #000000, 3px 3px #000000, 3px 9px #aaaaaa, 6px 6px #aaaaaa, 9px 3px #aaaaaa;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.link::before,
.link::after {
  content: '';
  display: block;
  position: absolute;
  transition: all 0.3s ease;
  box-sizing: border-box;
}

.link::after {
  background: #ffffff;
  width: 9px;
  height: 3px;
  bottom: -14px;
}

.link::before {
  width: 15px;
  height: 8px;
  background: #ffffff;
  bottom: -11px;
  border-left: 3px solid #000000;
  border-right: 3px solid #000000;
}

.link::after {
  margin-left: 6px;
  box-shadow: -3px 0 #000000, 3px 0 #000000, 3px 3px #ffffff, 0 3px #000000, 6px 3px #000000, 9px 3px #aaaaaa, 3px 6px #000000, 6px 6px #000000, 9px 6px #aaaaaa, 6px 9px #aaaaaa;
}

.link--btn {
  cursor: pointer;
}

.link--btn:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

/* Map Button */
.button {
  display: inline-block;
  padding: 0 45px;
  font-size: 14px;
  font-family: 'bit';
  cursor: pointer;
  text-align: center;
  color: #ab0303;
  background-color: #999999;
  border-radius: 8px;
  box-shadow: 0 7px #6c6e6e;
}

.button:hover {
  background-color: #999999;
}

.button:active {
  background-color: #999999;
  box-shadow: 0 5px #3b444c;
  transform: translateY(3px);
}

/* Fancybox */

@charset "UTF-8";

.fancybox-enabled {
  overflow: hidden;
}

.fancybox-enabled body {
  overflow: visible;
  height: 100%;
}

.fancybox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99993;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fancybox-container ~ .fancybox-container {
  z-index: 99992;
}

.fancybox-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #0f0f11;
  opacity: 0;
  transition-timing-function: cubic-bezier(0.55, 0.06, 0.68, 0.19);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fancybox-container--ready .fancybox-bg {
  opacity: 0.87;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}

.fancybox-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  opacity: 0;
  z-index: 99994;
  transition: opacity 0.2s;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  direction: ltr;
}

.fancybox-show-controls .fancybox-controls {
  opacity: 1;
}

.fancybox-infobar {
  display: none;
}

.fancybox-show-infobar .fancybox-infobar {
  display: inline-block;
  pointer-events: all;
}

.fancybox-infobar__body {
  display: inline-block;
  width: 70px;
  line-height: 44px;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  color: #dddddd;
  background-color: rgba(30, 30, 30, 0.7);
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
}

.fancybox-buttons {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  pointer-events: all;
}

.fancybox-show-buttons .fancybox-buttons {
  display: block;
}

.fancybox-slider-wrap {
  overflow: hidden;
  direction: ltr;
}

.fancybox-slider-wrap,
.fancybox-slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  z-index: 99993;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
}

.fancybox-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  outline: none;
  white-space: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 99994;
  -webkit-overflow-scrolling: touch;
}

.fancybox-slide::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

.fancybox-slide > * {
  display: inline-block;
  position: relative;
  padding: 24px;
  margin: 44px 0 44px;
  border-width: 0;
  vertical-align: middle;
  text-align: left;
  background-color: #ffffff;
  overflow: auto;
  box-sizing: border-box;
}

.fancybox-slide--image {
  overflow: hidden;
}

.fancybox-slide--image::before {
  display: none;
}

.fancybox-content {
  display: inline-block;
  position: relative;
  margin: 44px auto;
  padding: 0;
  border: 0;
  width: 80%;
  height: calc(100% - 88px);
  vertical-align: middle;
  line-height: normal;
  text-align: left;
  white-space: normal;
  outline: none;
  font-size: 16px;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}

.fancybox-iframe {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}

.fancybox-slide--video .fancybox-content,
.fancybox-slide--video .fancybox-iframe {
  background: transparent;
}

.fancybox-placeholder {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  border: 0;
  z-index: 99995;
  background: transparent;
  cursor: default;
  overflow: visible;
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.fancybox-image,
.fancybox-spaceball {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  max-width: none;
  max-height: none;
  background: transparent;
  background-size: 100% 100%;
}

.fancybox-controls--canzoomOut .fancybox-placeholder {
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.fancybox-controls--canzoomIn .fancybox-placeholder {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.fancybox-controls--canGrab .fancybox-placeholder {
  cursor: -webkit-grab;
  cursor: grab;
}

.fancybox-controls--isGrabbing .fancybox-placeholder {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.fancybox-spaceball {
  z-index: 1;
}

.fancybox-tmp {
  position: absolute;
  top: -9999px;
  left: -9999px;
  visibility: hidden;
}

.fancybox-error {
  position: absolute;
  margin: 0;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 380px;
  max-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #ffffff;
  cursor: default;
}

.fancybox-error p {
  margin: 0;
  padding: 0;
  color: #444444;
  font: 16px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.fancybox-close-small {
  position: absolute;
  top: 0;
  right: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  outline: none;
  background: transparent;
  z-index: 10;
  cursor: pointer;
}

.fancybox-close-small::after {
  content: '×';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  font: 20px/30px Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #888888;
  font-weight: 300;
  text-align: center;
  border-radius: 50%;
  border-width: 0;
  background: #ffffff;
  transition: background 0.2s;
  box-sizing: border-box;
  z-index: 2;
}

.fancybox-close-small:focus::after {
  outline: 1px dotted #888888;
}

.fancybox-slide--video .fancybox-close-small {
  top: -36px;
  right: -36px;
  background: transparent;
}

.fancybox-close-small:hover::after {
  color: #555555;
  background: #eeeeee;
}

/* Caption */
.fancybox-caption-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 60px 30px 0 30px;
  z-index: 99998;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.6) 80%, rgba(0, 0, 0, 0.8) 100%);
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
}

.fancybox-show-caption .fancybox-caption-wrap {
  opacity: 1;
}

.fancybox-caption {
  padding: 30px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ffffff;
  line-height: 20px;
  -webkit-text-size-adjust: none;
}

.fancybox-caption a,
.fancybox-caption button {
  pointer-events: all;
}

.fancybox-caption a {
  color: #ffffff;
  text-decoration: underline;
}

/* Buttons */
.fancybox-button {
  display: inline-block;
  position: relative;
  width: 44px;
  height: 44px;
  line-height: 44px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  cursor: pointer;
  background: transparent;
  color: #ffffff;
  box-sizing: border-box;
  vertical-align: top;
  outline: none;
}

.fancybox-button--disabled {
  cursor: default;
  pointer-events: none;
}

.fancybox-infobar__body,
.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
}

.fancybox-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.fancybox-button::before,
.fancybox-button::after {
  content: '';
  pointer-events: none;
  position: absolute;
  border-color: #ffffff;
  background-color: currentColor;
  color: currentColor;
  opacity: 0.9;
  box-sizing: border-box;
  display: inline-block;
}

.fancybox-button--disabled::before,
.fancybox-button--disabled::after {
  opacity: 0.5;
}

.fancybox-button--left::after {
  left: 20px;
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.fancybox-button--right::after {
  right: 20px;
  top: 18px;
  width: 6px;
  height: 6px;
  background: transparent;
  border-top: solid 2px currentColor;
  border-right: solid 2px currentColor;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fancybox-button--left {
  border-bottom-left-radius: 5px;
}

.fancybox-button--right {
  border-bottom-right-radius: 5px;
}

.fancybox-button--close {
  float: right;
}

.fancybox-button--close::before,
.fancybox-button--close::after {
  content: '';
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 16px;
  top: calc(50% - 1px);
  left: calc(50% - 8px);
}

.fancybox-button--close::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.fancybox-button--close::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* Loading spinner */
.fancybox-loading {
  border: 6px solid rgba(100, 100, 100, 0.4);
  border-top: 6px solid rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  height: 50px;
  width: 50px;
  -webkit-animation: fancybox-rotate 0.8s infinite linear;
  animation: fancybox-rotate 0.8s infinite linear;
  background: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  z-index: 99999;
}

@-webkit-keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fancybox-rotate {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-controls {
    text-align: left;
  }
  .fancybox-button--left,
  .fancybox-button--right,
  .fancybox-buttons button:not(.fancybox-button--close) {
    display: none !important;
  }
  .fancybox-caption {
    padding: 20px 0;
    margin: 0;
  }
}

/* Fullscreen  */
.fancybox-button--fullscreen::before {
  width: 15px;
  height: 11px;
  left: 15px;
  top: 16px;
  border: 2px solid;
  background: none;
}

/* Slideshow button */
.fancybox-button--play::before {
  top: 16px;
  left: 18px;
  width: 0;
  height: 0;
  border-top: 6px inset transparent;
  border-bottom: 6px inset transparent;
  border-left: 10px solid;
  border-radius: 1px;
  background: transparent;
}

.fancybox-button--pause::before {
  top: 16px;
  left: 18px;
  width: 7px;
  height: 11px;
  border-style: solid;
  border-width: 0 2px 0 2px;
  background: transparent;
}

/* Thumbs */
.fancybox-button--thumbs span {
  font-size: 23px;
}

.fancybox-button--thumbs::before {
  top: 20px;
  left: 21px;
  width: 3px;
  height: 3px;
  box-shadow: 0 -4px 0, -4px -4px 0, 4px -4px 0, 0 0 0 32px inset, -4px 0 0, 4px 0 0, 0 4px 0, -4px 4px 0, 4px 4px 0;
}

.fancybox-container--thumbs .fancybox-controls,
.fancybox-container--thumbs .fancybox-slider-wrap,
.fancybox-container--thumbs .fancybox-caption-wrap {
  right: 220px;
}

.fancybox-thumbs {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  width: 220px;
  margin: 0;
  padding: 5px 5px 0 0;
  background: #ffffff;
  z-index: 99993;
  word-break: normal;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

.fancybox-thumbs > ul {
  list-style: none;
  position: absolute;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 0;
}

.fancybox-thumbs > ul > li {
  float: left;
  overflow: hidden;
  max-width: 50%;
  padding: 0;
  margin: 0;
  width: 105px;
  height: 75px;
  position: relative;
  cursor: pointer;
  outline: none;
  border: 5px solid #ffffff;
  border-top-width: 0;
  border-right-width: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
}

li.fancybox-thumbs-loading {
  background: rgba(0, 0, 0, 0.1);
}

.fancybox-thumbs > ul > li > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  max-width: none;
  max-height: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fancybox-thumbs > ul > li::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 2px;
  border: 4px solid #4ea7f9;
  z-index: 99991;
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.fancybox-thumbs > ul > li.fancybox-thumbs-active::before {
  opacity: 1;
}

/* Styling for Small-Screen Devices */
@media all and (max-width: 800px) {
  .fancybox-thumbs {
    display: none !important;
  }
  .fancybox-container--thumbs .fancybox-controls,
  .fancybox-container--thumbs .fancybox-slider-wrap,
  .fancybox-container--thumbs .fancybox-caption-wrap {
    right: 0;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}


.modal-content {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform: scale(0);}
  to {-webkit-transform: scale(1);}
}

@keyframes zoom {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbbbbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
